html, body {
  margin: 0;
  padding: 0;
}
canvas, img, video {
  max-width: 100%;
  height: auto;
}

/* Touch controls */
#touch-controls {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  user-select: none;
  pointer-events: none;
}
#touch-controls .tc-left-controls,
#touch-controls .tc-right-controls {
  display: flex;
  margin: 0 10px;
  pointer-events: auto;
}
#touch-controls .tc-btn {
  width: 60px;
  height: 60px;
  margin: 5px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
}
@media (hover: hover) and (pointer: fine) {
  #touch-controls {
    display: none;
  }
}
